__pycache__
.venv*/
*.ckpt
*.ncu-rep
*.sarif
config.yaml
dist/
docs/_build/
docs/html/
HiPSter/
lightning_logs/
wandb/
experiments/Zernike_norms*
experiments/Zernike_layer_matrix*
Zernike_decode_encode*
Zernike_norms*
Zernike_layer_matrix*
*.png
t10k-*
train-images*
train-labels*